@{
    ViewData["Title"] = "Download";
    Layout = "_Layout";
    var fileName = ViewBag.Filename as string;
    var downloadUrl = Url.Action("StreamDownload", "Download", new { shortCode = ViewBag.ShortCode });
}

<div class="container-card" style="max-width:450px;">
    <!-- icono candado (SVG inline) -->
    <div style="text-align:center; margin-bottom:1rem;">
        <svg width="80" height="80" viewBox="0 0 24 24" fill="#0073E6">
            <path d="M12 2a6 6 0 00-6 6v4H5a2 2 0 00-2 2v8a2 2 0 002 2h14a2 2 0 002-2v-8a2 2 0 00-2-2h-1V8a6 6 0 00-6-6zm-4 6a4 4 0 118 0v4H8V8zm-1 6h10v8H7v-8z" />
        </svg>
    </div>

    <h1>FileVoyage</h1>
    <h4>@fileName</h4>

    <p>The download will start automatically. If not, click below.</p>
    <button onclick="location.href='@downloadUrl'">Download</button>
</div>

<script>
  setTimeout(() => {
    window.location.href = "@downloadUrl";
  }, 2000);
</script>
